{% extends "todo/dashboard.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}
<div class="block">
    <div class="block-header">
        <h3 class="block-title">Tasks</h3>
        <div class="block-options">
            <div class="block-options-item">
                <code>
                    <a href="{% url 'todo_create' %}"><i class="fa fa-plus-circle fa-2x"></i></a>
                </code>
            </div>
        </div>
    </div>
    <div class="block-content">
        <table class="table table-borderless table-vcenter">
            <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>Description</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Status</th>
                    <th class="text-center" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <th class="text-center" scope="row">{{ task.id }}</th>
                        <td class="font-w600 font-size-sm">
                            <a href="#">{{ task.description }}</a>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-warning">{{ task.status }}</span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'todo_edit' pk=task.id %}" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit Client">
                                    <i class="fa fa-fw fa-pencil-alt"></i>
                                </a>
                                <a href="{% url 'todo_delete' pk=task.id %}" class="btn btn-sm btn-danger js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Remove Client">
                                    <i class="fa fa-fw fa-times "></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}